<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class="admin-products inner">
    <div class="contact-wrap">
      <h2 class="util-title">商品登録</h2>
      
      <form action="" method="post" enctype="multipart/form-data">
        <dl class="admin-products-list">
          {{msg}}
          <div class="admin-products-item">
            <dt class="admin-products-item-title"> 商品名：</dt>
            <dd class="admin-products-item-input"><input type="text" name="item_name" size="50" value="" required></dd>
          </div>
          <div class="admin-products-item">
            <dt class="admin-products-item-title">価格：</dt>
            <dd class="admin-products-item-input"><input type="text" name="price" id="" value="" required></dd>
          </div>
          <div class="admin-products-item">
            <dt class="admin-products-item-title">説明文：</dt>
            <dd class="admin-products-item-input"><textarea name="detail" id="" cols="30" rows="10" value="" required></textarea></dd>
          </div>
          <div class="admin-products-item">
            <dt class="admin-products-item-title">画像：</dt>
            <dd class="admin-products-item-input"><input type="file" name="image" id="input-file" value="" required></dd>
          </div>
          <div class="admin-products-item">
            <dt class="admin-products-item-title">画像プレビュー：</dt>
            <dd class="admin-products-item-input"><div id="preview"></div></dd>
          </div>

          <div class="admin-products-item">
            <dt class="admin-products-item-title">カテゴリー：</dt>
            <dd class="admin-products-item-input"><select name="ctg_id" id="" value="">
              {% for value in cateArr %}
              <option value="{{value.ctg_id}}" name="ctg_id">{{value.category_name}}</option>
              {% endfor %}
            </select></dd>
          </div>

        </dl>
        <div class="admin-products-footer">
          <input type="submit" name="submit" value="商品追加" class="util-link">
          <a href="admin.php" class="util-link">管理トップへ</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>