<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">  <title>Document</title>
</head>
<body>
<div class="admin-products-all inner">
  <h2 class="util-title">商品一覧・編集</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>価格</th>
      <th>カテゴリー</th>
      <th>詳細・編集</th>
    </tr>
      {% for value in dataArr %}
    <tr>
      <td>{{value.item_id}}</td>
      <td>
        {{value.item_name}}
      </td>
      <td>{{value.price}}</td>
      <td>{{value.category_name}}</td>
      <td>
        <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}admin_products_update.php?item_id={{value.item_id}}">編集</a>
      </td>
    </tr>
      {% endfor %}
  </table>
  <div class="util-link-wrap">
    <a href="admin.php" class="util-link">管理トップへ</a>
  </div>  
</div>
</body>
</html>