<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- reset css -->
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
<!-- wow -->
<script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/wow.min.js"></script>
<link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/animate.css">
<link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/swiper.min.css">
<script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/swiper.min.js"></script>

  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>

  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
  <title>cart</title>
</head>
<body class="drawer drawer--right">
{% include 'header.html.twig' %}
<input type="hidden" name="entry_url" value="{{constant('shopping\\Bootstrap::ENTRY_URL')}}" id="entry_url">
<div class="cart inner section">
  <h2 class="util-title">Cart</h2>
    <div class="cart-back-wrap">
      <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}index.php"><p class="cart-back">買い物を続ける</p></a>
    </div>
      {% if dataArr | length == 0 %}
        <p class="cart-back non" >カートに商品は入っていません</p>
      {% else %}
      <div class="cart-list ">
        {% for value in dataArr %}
        <article class="cart-item wow fadeInUp">
          <div class="cart-item-wrap">
            <div class="cart-item-header">
              <div class="cart-item-picture"><img src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}"></div>
            </div>
            <div class="cart-item-body">
              <p class="cart-item-name">商品名: {{value.item_name}}</p>
              <h3 class="cart-item-cost">価格: &yen;{{value.price|number_format(0, '.', ',')}} 数量:{{value.num}}</h3>
              <form action="" method="GET">
              <p class="cart-item-num"> 数量:<select name="num" class="cart-number" id="cart-num">
                <option value="1" {% if value.num == 1 %}selected{% endif %} name="num">1</option>
                <option value="2" {% if value.num == 2 %}selected{% endif %} name="num">2</option>
                <option value="3" {% if value.num == 3 %}selected{% endif %} name="num">3</option>
                <option value="4" {% if value.num == 4 %}selected{% endif %} name="num">4</option>
                <option value="5" {% if value.num == 5 %}selected{% endif %} name="num">5</option>
              </select><input type="submit" name="submit" value="変更" class="del-btn"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}cart.php?crt_id={{value.crt_id}}"><button type="button" class="del-btn">削除</button></a></p>
                            <input type="hidden" name="item_id" id="item_id" value="{{value.item_id}}" class="item_id">

              </form>
              <p class="cart-item-sumnum">合計金額: &yen;{{value.price|number_format(0, '.', ',')*value.num}}</p>
            </div>
          </div>
        </article>
        {% endfor %}
        <p class="sumnumprice">カート内商品数：{{sumNum}}個 合計金額：&yen;{{sumPrice|number_format(0, '.', ',')}}</p>
      </div>
      {% endif %}
  <form action="" method="POST" class="form-wrap">
    <input type="submit" name="remove" value="カートを空にする" class="util-link">
    <input type="submit" name="confirm" value="購入確認画面へ進む" class="util-link" >
  </form>
</div>
    <script>
    new WOW().init();
    </script>  
{% include 'footer.html.twig' %}
</body>
</html>