<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- reset css -->
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
  <title>会員登録確認</title>
</head>
<body>
  <div class="regist inner">
  <form action="confirm.php" method="post">
    <table>
      <tr>
        <th>お名前（氏名) :</th>
        <td>{{dataArr.family_name}} {{dataArr.first_name}}</td>
      </tr>
      <tr>
        <th>お名前（かな）:</th>
        <td>
          {{dataArr.family_name_kana}} {{dataArr.first_name_kana}}
        </td>
      </tr>
      <tr>
        <th>生年月日 :</th>
        <td>{{dataArr.year}}年 {{dataArr.month}}月 {{dataArr.day}}日</td>
      </tr>
      <tr>
        <th>郵便番号 :</th>
        <td>{{dataArr.zip1}} - {{dataArr.zip2}}</td>
      </tr>
      <tr>
        <th>住所 :</th>
        <td>{{dataArr.address}}{{dataArr.address2}}</td>
      </tr>
      <tr>
        <th>メールアドレス :</th>
        <td>{{dataArr.email}}</td>
      </tr>
      <tr>
        <th>電話番号 :</th>
        <td>{{dataArr.tel1}} - {{dataArr.tel2}} - {{dataArr.tel3}}</td>
      </tr>
        <tr>
        <th>パスワード :</th>
        <td>入力したパスワード</td>
      </tr>
    </table>
    <div>
      <div class="util-link-wrap">
      <input type="submit" name="back" value="戻る" class="util-link">
      <input type="submit" name="complete" value="登録完了" class="util-link">
    </div>
      {% for key,value in dataArr %}
        {% if value is iterable %}
          {% for v in value %}
          <input type="hidden" name="{{key}}[]" value="{{v}}">
          {% endfor %}
        {% else %}
          <input type="hidden" name="{{key}}" value="{{value}}">  
        {% endif %}
      {% endfor %}
    </div>
  </form>
</div>
</body>
</html>