<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- reset css -->
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
  <title>確認ページ</title>
</head>
<body class="drawer drawer--right">
{% include 'header.html.twig' %}
<div class="contact inner">

  <h2 class="util-title">内容確認</h2>    

<form action="" method="post">
<table border="1">
<tr>
<td>名前</td>
<td>{{dataArr.name}}</td>
</tr>
<tr>
<td>メールアドレス</td>
<td>{{dataArr.mail}}</td>
</tr>
<tr>
<td>問い合わせ内容</td>
<td>{{dataArr.inquiry}}</td>
</tr>
</table>
<div class="util-link-wrap">
<input type="submit" value="送信" name="complete" class="util-link">
</div>
</form>
</div>
{% include 'footer.html.twig' %}
</body>
</html>