<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- reset css -->
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
  <title>ログイン</title>
</head>
<body class="drawer drawer--right">
{% include 'header.html.twig' %}
  <div class="login inner">
    <div class="login-wrap">
      <h2 class="login-text">ログインしてください</h2>
      <form action="login.php" method="post">
        <dl class="login-list">
          <div class="login-item">
            <dt class="login-item-title">メールアドレス</dt>
            <dd class="login-item-input"><input type="email" name="email" size="40" value="{{dataArr.email}}" required><br></dd>
          </div>
          <div class="login-item">
            <dt class="login-item-title">パスワード</dt>
            <dd class="login-item-input"><input type="password" name="password" value="{{dataArr.password}}" size="16"></dd>
          </div>
        </dl>
        <div class="login-footer">
          <input type="submit" value="ログイン" class="util-link">
          <a href="gestlogin.php" class="util-link">ゲストログイン</a>
        </div>
          <a href="regist.php" class="regist-link">会員登録がまだの方はこちらから</a>
      </form>
    </div>
  </div>
</body>
</html>