<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>' {{search}} 'の検索結果</p>
  <p>{{errmsg}}</p>
  {% for value in searchArr %}
<div class="item">
    <ul>
      <li class="name"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
      <li class="price">&yen;{{value.price|number_format(0, '.' , ',')}}</li>
      <li class="image"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
      <img src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}"></a></li>
      <li class="detail"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a></li>
    </ul>
  </div>
{% endfor %}
<a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ戻る</a>
</body>
</html>


